@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans;
  background: linear-gradient(31deg, #cd48ef, #2cefed, #f6b726, #f87ee5, #cd48ef);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 120s ease infinite;
  -moz-animation: AnimationName 120s ease infinite;
  -o-animation: AnimationName 120s ease infinite;
  animation: AnimationName 120s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@keyframes AnimationName { 
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
